.cell {
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    
  }

.painted{
  background-color: black;
}

#container{
  width: 460px;
  height: 460px;
}